*{
    padding: 20px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.button{
    height:150px;
    width: 150px;
    border:1px solid black;
    margin: 10px;
}
.container{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
#red{
    background: #ec0d0d;
}
#green{
    background: #00ff48;
}
#yellow{
    background: #fbea00;
}
#blue{
    background: #0d30df;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
